body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("Placas sin recursos_1080x1920.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.texto-alternativo {
  color:white;
  z-index: -1;
  position: absolute;
}

@media (min-width: 992px) {
    .bg {
        background-image: url("Placas sin recursos_1920x1080.jpg");
    }
}